<!-- @if (status === "pending"){
    <h3>Order Pending</h3>
} @else if (status === "processing") {
    <h3>Order Processing</h3>

} @else if (status === "shipped") {
    <h3>Order Shipped</h3>
} @else {
    <h3>Unknown Status</h3>
} -->

<!-- @if (marks >= 90){
    <h3>Grade A</h3>
} @else if (marks >= 80) {
    <h3>Grade B</h3>
} @else if (marks >= 70) {
    <h3>Grade C</h3>
} @else if (marks >= 60) {
    <h3>Grade D</h3>
} @else {
    <h3>Grade F</h3>
} -->

<!-- <input (input)="updatedAge($event.target.value)" placeholder="Enter your age"/>

@if (age >=60){
    <p>Senior Ciizen</p>
}@else if (age >= 18) {
    <p>Adult</p>
}@else if (age>=13) {
    <p>teenage</p>
}@else if (age>= 0) {
    <p>Children</p>
} @else {
    <p>Invalid age</p>
} -->

<button (click)="section = 'home'">Home</button>
<button (click)="section = 'profile'">Profile</button>
<button (click)="section = 'settings'">Setting</button>

@if(section == "home"){
    <h2>Welcome to Home Page</h2>
} @else if (section == "profile") {
    <h2>Your Profile Information</h2>
} @else if (section == "settings") {
    <h2>Adjust Your Settings</h2>
}@else {
    <h2>Section Not Found</h2>
}